h1 {
  color: #333;
  width: 80%;
  text-align: center;
  margin: 10px auto;
  padding: 1em 0 0.5em 0;
}

.container {
  background-color: #fbfff6;
  display: block;
  max-width: 450px;
  width: 100vw;
  margin: 5em auto 0 auto;
  border: 2px solid #333;
  border-radius: .25em;
  box-sizing: border-box;
}

@media (max-width: 450px) {
  .container {
    border: none;
    margin-top: 0;
    background-color: white;
  }
}

.calc {
  display: flex;
  flex-direction: column;
  width: 20em;
  align-items: center;
  margin: 0 auto;
}

label {
  margin-top: 10px;
  margin-right: auto;
  font-size: large;
  box-sizing: border-box;
}

input {
  border: 1px solid grey;
  border-radius: .25em;
  padding: 10px 5px;
  margin: 5px 0;
  font-size: large;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.saveButton {
  width: 6em;
  padding: 5px 10px;
  margin: 3em 0;
  background-color: rgb(255, 250, 245);
  border: 1px solid #FD5956;
  border-radius: .25em;
  font-weight: bold;
  font-size: medium;
  color: #FD5956;
  cursor: pointer;
}

.concentration-bar {
  height: 2em;
  border-radius: 8px;
  background-color: #FD5956;
  max-width: 100%;
  transition: .5s ease;
  color: rgb(255, 244, 244);
  text-align: center;
  line-height: 2em;
  margin-top: 10px;
}

p {
  text-align: left;
  width: 100%;
  margin: 5px 0;
}

textarea {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  margin-top: 20px;
  box-sizing: border-box;
  width: 100%;
}