.signupForm {
  max-width: 25em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.signupForm > label {
  width: 100%;
}

.signupForm > .submitButton {
  width: 10em;
  padding: 5px 10px;
  margin: 0 auto;
  background-color: rgb(187, 255, 127);
  border: 2px solid rgb(0, 76, 18);
  border-radius: 1em;
  font-weight: bold;
  font-size: medium;
  color: rgb(0, 69, 19);
}